#administrate_links
{
	height: 1%;
}

div.table_administrate
{
	margin: 0px;
	padding: 0px;
	border: 1px solid #919B9C;
}

table.administrate
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

table.administrate thead tr
{
	height: 25px;
}

table.administrate thead tr th
{
	padding-left: 5px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #919B9C;
}

table.administrate thead tr th.blind
{
	font-size: 0px;
	line-height: 0px;
	padding: 0px;
	margin: 0px;
}

table.administrate thead tr th.checkbox
{
	width: 20px;
	font-size: 0px;
	line-height: 0px;
	padding: 0px;
	margin: 0px;
}

table.administrate thead tr a
{
	text-decoration: none;
}

table.administrate thead tr a:hover, table.administrate thead tr a:focus
{
	text-decoration: underline;
}

table.administrate tbody tr
{
	height: 25px;
	vertical-align: middle;
}

table.administrate tbody tr td
{
	padding-left: 5px;
	font-weight: bold;
}

table.administrate tbody tr td.checkbox
{
	width: 20px;
}

table.administrate tbody tr td.symbol
{
	padding: 0px;
	text-align: center;
	width: 40px;
	border-left: 1px solid #919B9C;
}

div.multi_options
{
	height: 1%;
	margin-left: -14px;
	margin-right: -14px;
	padding: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
}

div.multi_options input
{
	border: 0px;
	color: #4E5B6A;	
	background-color: #BCCADB;
	vertical-align: middle;
	margin: 0px;
	margin-left: 12px;
	cursor: pointer;
}